In [2]:
import pandas as pd

train_df = pd.read_csv('../data/train.csv', delimiter=';')
test_df = pd.read_csv('../data/test.csv', delimiter=';')
train_df.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556

In [10]:
test_df.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,90,90,Skirts and shorts,Shorts,Bottoms,WOVEN,BLANCO,"245,244,238","-0.12171847,-0.25323686,0.6839907,-0.60686946,...",Short,...,6,118,5,False,29.99,NaN,NaN,NaN,NaN,NaN
1,16,90,Jackets and Blazers,Jackets,Outerwear,WOVEN,MARRON,"129,105,81","-0.2704233,-1.1392772,1.2337782,-0.64782524,0....",Short,...,10,456,7,False,69.99,NaN,NaN,NaN,NaN,NaN
2,65,90,Sweaters and Cardigans,Cardigans,Tops,CIRCULAR,GRIS,"145,145,144","-0.16349873,0.10306308,1.1780332,-0.6578121,0....",Standard,...,8,542,7,False,22.99,NaN,NaN,NaN,NaN,NaN
3,138,90,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,ARENA,"219,207,189","0.13487932,0.004863858,-0.52593106,-0.8941919,...",Long,...,8,87,5,False,89.99,NaN,NaN,NaN,NaN,NaN
4,166,90,Swim and intimate,Swimwear,"Accesories, Swim and Intimate",CIRCULAR,ROJO,"189,22,62","0.08456349,0.06271024,-0.11037013,-0.6067481,0...",NaN,...,16,38,5,False,17.99,NaN,NaN,NaN,NaN,NaN

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2250 entries, 0 to 2249
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2250 non-null   int64
 1   id_season           2250 non-null   int64
 2   aggregated_family   2250 non-null   object
 3   family              2250 non-null   object
 4   category            2250 non-null   object
 5   fabric              2250 non-null   object
 6   color_name          2250 non-null   object
 7   color_rgb           2250 non-null   object
 8   image_embedding     2250 non-null   object
 9   length_type         1868 non-null   object
 10  silhouette_type     1771 non-null   object
 11  waist_type          450 non-null    object
 12  neck_lapel_type     1387 non-null   object
 13  sleeve_length_type  1336 non-null   object
 14  heel_shape_type     0 non-null      float64
 15  toecap_type         0 non-null      float64
 16  woven_structure     1382 non-null   object
 17  knit_structure      395 non-null    object
 18  print_type          2247 non-null   object
 19  archetype           200 non-null    object
 20  moment              2250 non-null   object
 21  phase_in            2250 non-null   object
 22  phase_out           2250 non-null   object
 23  life_cycle_length   2250 non-null   int64
 24  num_stores          2250 non-null   int64
 25  num_sizes           2250 non-null   int64
 26  has_plus_sizes      2250 non-null   bool
 27  price               2250 non-null   float64
 28  Unnamed: 28         0 non-null      float64
 29  Unnamed: 29         0 non-null      float64
 30  Unnamed: 30         0 non-null      float64
 31  Unnamed: 31         0 non-null      float64
 32  Unnamed: 32         0 non-null      float64
dtypes: bool(1), float64(8), int64(5), object(19)
memory usage: 564.8+ KB

In [5]:
# count number of rows with weekly_sales == -1706
train_df[train_df['weekly_demand'] == -1496].shape[0]

1

In [10]:
train_df[train_df['ID'] == 1]

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556
5,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,6,62,62,4556
6,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,7,45,45,4556
7,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,8,38,38,4556
8,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,9,34,34,4556
9,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,10,53,53,4556
10,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,11,34,35,4556
11,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,12,50,50,4556

In [ ]:
# check how many ids are the same and how many different in train and test
train_ids = train_df['ID'].unique()
test_ids = test_df['ID'].unique()
len(train_ids)
len(test_ids)
# check how many ids are in both train and test
len(set(train_ids) & set(test_ids))
# check how many ids are in train but not in test
len(set(train_ids) - set(test_ids))
# check how many ids are in test but not in train
len(set(test_ids) - set(train_ids))
# check how many ids are in train and test
len(set(train_ids) & set(test_ids))

In [6]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np

df = pd.read_csv('../data/test.csv', delimiter=';')

# Exclude text columns to avoid wordcloud errors inside ydata_profiling
non_text_cols = df.select_dtypes(exclude=['object']).columns

In [7]:
profile = ProfileReport(df[non_text_cols], title="MANGO-test (no text)", plot={"wordcloud": False})

In [9]:
# save to html
profile.to_file("../data/test_report.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]