In [6]:
import pandas as pd

train_df = pd.read_csv('../data/train.csv', delimiter=';')
test_df = pd.read_csv('../data/test.csv', delimiter=';')
train_df.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556

In [5]:
# check count of ID in test
test_df['ID'].value_counts()

ID
12724    1
90       1
16       1
65       1
138      1
        ..
476      1
451      1
509      1
531      1
533      1
Name: count, Length: 2250, dtype: int64

In [5]:
# count number of rows with weekly_sales == -1706
train_df[train_df['weekly_demand'] == -1496].shape[0]

1

In [11]:
# df2 = for each id, get the first row
df2 = train_df.groupby('ID').first().reset_index()
df2.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,2,88,Shirts,Shirt,Tops,WOVEN,VERDE PASTEL,"178,211,178","0.07549533,0.5449803,1.0923201,-0.4166983,0.41...",Crop,...,12,121,5,False,39.99,2023,51,90,90,12267
2,3,89,Jeans,Jeans,Bottoms,JEANS,ARENA,"219,207,189","-0.36269298,0.07430652,0.8436532,-0.4637927,0....",Ankle brace,...,18,1134,12,True,29.99,2024,29,1118,1130,137780
3,4,89,Shirts,Shirt,Tops,WOVEN,CELESTE,"0,130,195","-0.95077825,-0.87190175,0.35924295,-0.5287339,...",Standard,...,8,1090,7,True,29.99,2024,35,1497,1611,33001
4,6,86,Sweaters and Cardigans,Cardigans,Tops,TRICOT,TERRACOTA,"216,112,96","0.110631324,0.38829955,1.7624879,-0.7699686,-0...",Standard,...,8,606,7,False,25.99,2023,13,1750,1777,24098

In [10]:
train_df[train_df['ID'] == 1]

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556
5,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,6,62,62,4556
6,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,7,45,45,4556
7,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,8,38,38,4556
8,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,9,34,34,4556
9,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,10,53,53,4556
10,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,11,34,35,4556
11,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,12,50,50,4556

In [6]:
# check how many ids are the same and how many different in train and test
train_ids = train_df['ID'].unique()
test_ids = test_df['ID'].unique()
print(len(train_ids))
print(len(test_ids))
# check how many ids are in both train and test
print(len(set(train_ids) & set(test_ids)))
# check how many ids are in train but not in test
print(len(set(train_ids) - set(test_ids)))
# check how many ids are in test but not in train
print(len(set(test_ids) - set(train_ids)))
# check how many ids are in train and test
print(len(set(train_ids) & set(test_ids)))

9843
2250
1749
8094
501
1749

In [6]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np

df = pd.read_csv('../data/test.csv', delimiter=';')

# Exclude text columns to avoid wordcloud errors inside ydata_profiling
non_text_cols = df.select_dtypes(exclude=['object']).columns

In [7]:
profile = ProfileReport(df[non_text_cols], title="MANGO-test (no text)", plot={"wordcloud": False})

In [9]:
# save to html
profile.to_file("../data/test_report.html")

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [1]:
import pandas as pd

df_processed = pd.read_csv("../data/processed_data.csv")

In [8]:
set(df_processed.columns) - set(train_df.columns)

{'season_year'}

In [16]:
from datetime import datetime
phase_in = "2023-02-01"
phase_out = "2023-03-26"
phase_in = datetime.strptime(phase_in, "%Y-%m-%d")
phase_out = datetime.strptime(phase_out, "%Y-%m-%d")
total_demand = phase_out - phase_in
total_demand.days / 7 * 69

522.4285714285714

In [17]:
df_processed.columns

Index(['ID', 'id_season', 'aggregated_family', 'family', 'category', 'fabric',
       'color_name', 'color_rgb', 'image_embedding', 'length_type',
       'silhouette_type', 'waist_type', 'neck_lapel_type',
       'sleeve_length_type', 'heel_shape_type', 'toecap_type',
       'woven_structure', 'knit_structure', 'print_type', 'archetype',
       'moment', 'phase_in', 'phase_out', 'life_cycle_length', 'num_stores',
       'num_sizes', 'has_plus_sizes', 'price', 'year', 'num_week_iso',
       'weekly_sales', 'weekly_demand', 'Production', 'season_year'],
      dtype='object')

In [18]:
import datetime
# df_processed[["phase_in", "phase_out"]]
df_processed[["phase_in", "phase_out", "weekly_demand", "Production"]]

         phase_in   phase_out  weekly_demand  Production
0      2023-02-01  2023-03-26             69        4556
1      2023-02-01  2023-03-26            112        4556
2      2023-02-01  2023-03-26            135        4556
3      2023-02-01  2023-03-26             99        4556
4      2023-02-01  2023-03-26             74        4556
...           ...         ...            ...         ...
89818         NaN  2023-12-24            563        8959
89819         NaN  2023-12-24            324        8959
89820         NaN  2023-12-24            694        8959
89821         NaN  2023-12-24            441        8959
89822         NaN  2023-12-24            319        8959

[89823 rows x 4 columns]

In [22]:
df_processed["total_demand"] = df_processed["life_cycle_length"] * df_processed["weekly_demand"]

In [25]:
df_processed["total_demand"] - df_processed["Production"]

0       -3728
1       -3212
2       -2936
3       -3368
4       -3668
         ...
89818   -3329
89819   -5719
89820   -2019
89821   -4549
89822   -5769
Length: 89823, dtype: int64

In [2]:
df_processed.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production,season_year
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,152,5,False,35.99,2023,1,66,69,4556,2023_86
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,152,5,False,35.99,2023,2,112,112,4556,2023_86
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,152,5,False,35.99,2023,3,135,135,4556,2023_86
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,152,5,False,35.99,2023,4,99,99,4556,2023_86
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,152,5,False,35.99,2023,5,74,74,4556,2023_86