In [3]:
import pandas as pd

train_df = pd.read_csv('../data/train.csv', delimiter=';')
test_df = pd.read_csv('../data/test.csv', delimiter=';')
train_df.head()

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556

In [5]:
# count number of rows with weekly_sales == -1706
train_df[train_df['weekly_demand'] == -1496].shape[0]

1

In [10]:
train_df[train_df['ID'] == 1]

,ID,id_season,aggregated_family,family,category,fabric,color_name,color_rgb,image_embedding,length_type,...,life_cycle_length,num_stores,num_sizes,has_plus_sizes,price,year,num_week_iso,weekly_sales,weekly_demand,Production
0,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,1,66,69,4556
1,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,2,112,112,4556
2,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,3,135,135,4556
3,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,4,99,99,4556
4,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,5,74,74,4556
5,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,6,62,62,4556
6,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,7,45,45,4556
7,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,8,38,38,4556
8,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,9,34,34,4556
9,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,10,53,53,4556
10,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,11,34,35,4556
11,1,86,Dresses and jumpsuits,Dresses,"Dresses, jumpsuits and Complete set",WOVEN,AMARILLO,"255,215,0","0.072266474,-0.12752205,0.6080948,-1.2579741,-...",Long,...,12,152,5,False,35.99,2023,12,50,50,4556

In [ ]:
# check how many ids are the same and how many different in train and test
train_ids = train_df['ID'].unique()
test_ids = test_df['ID'].unique()
len(train_ids)
len(test_ids)
# check how many ids are in both train and test
len(set(train_ids) & set(test_ids))
# check how many ids are in train but not in test
len(set(train_ids) - set(test_ids))
# check how many ids are in test but not in train
len(set(test_ids) - set(train_ids))
# check how many ids are in train and test
len(set(train_ids) & set(test_ids))

In [ ]:
from ydata_profiling import ProfileReport
import pandas as pd
import numpy as np

df = pd.read_csv('data/train.csv', delimiter=';')

# Exclude text columns to avoid wordcloud errors inside ydata_profiling
non_text_cols = df.select_dtypes(exclude=['object']).columns

In [10]:
profile = ProfileReport(df[non_text_cols], title="MANGO-train (no text)", plot={"wordcloud": False})

In [11]:
# save to html
profile.to_file("data/train_report2.html")

/home/eric/miniconda3/lib/python3.11/site-packages/ydata_profiling/utils/dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]